/**
 * The ribbon is the focused block, which draws the eye
 * towards the introduction of the page
 */
.zone-header-wrapper {
  background: url(../images/bg-ribbon.png) repeat-x scroll transparent;
  height:206px;
  padding-top:16px; /* 1em, specified in px for outline */
  margin:0.5em 0;
  padding: 0 1.5em 0 0; /* To provide space between text and image */
  
  .zone-header{
  
    .region-header-second {
      img {
        padding-top:9px;   
      }
      .region-inner{
        height:100%;
        background: url(../images/bg-ribbon-highlight-box.png) no-repeat scroll transparent 50% 0%;
      }
    }
    
  }

  

}






