// Topography

.page{
  font-size: @baseFontSize;
  font-family: @sansFontFamily;
  color:#212142;   
}

#breadcrumb, #breadcrumb a, #nav a, #nav label {
  color:#000;
  font-weight:normal;
}

ul.quicktabs_tabs li a 	      {color:#aaa;}
ul.quicktabs_tabs li.active a {color:#212142;}

#lightbox {
  font-family: Helvetica, Arial, sans-serif;
  font-size:14px;
}

ul.tabs a                  { color:blue;    }
ul.tabs a:visited          { color:blue;    }

thead a                    { color:blue;    }
thead a:visited            { color:blue;    }

ul.menu a	               { color:#aaa;    }
ul.menu a.active,
ul.menu li.active-trail a  {}

/* Base Typography Overrides */
input {
  font-size:12px;
}